h1{
    font-family: 'Times New Roman', Times, serif;
}
.sliderImage{
    max-width: 600px;
    max-height: 400px;
}
.Card_Title_style{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-underline-position: below;
    text-decoration: darkgray;
    text-decoration-line: underline;
}
.Card_Para_style{
    font-family: monospace;
    font-weight: bold;
}
.img1{
    max-width: 130px;
    height: 200px;
}
.sb1{max-height: 650px;
    overflow-y: scroll;
}