h1{
    font-family: 'Times New Roman', Times, serif;
}
.sliderImage{
    max-width: 600px;
    max-height: 400px;
}
.P_Style{
    font-size: small;
    color: blue;
    background-color: brown;
    text-decoration: darkviolet;
    abcd
}